<%- include('../includes/head.ejs') %> <%- include('../includes/navigation.ejs')
%>
<div class="container-fluid">
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary"><%= formTitle %></h6>
    </div>
    <div class="card-body">
      <% action = ''; %> <% if(subMenu.id) { %> <% action =
      `/backoffice/updatesubmenus/${subMenuIdEncrypted}` %> <% } else { %> <%
      action = '/backoffice/submenus'%> <% } %>
      <form action="<%= action %>" method="POST" enctype="multipart/form-data">
        <input type="hidden" name="id" />
        <input type="hidden" id="_csrf" name="_csrf" value="<%= csrfToken %>" />
        <div class="row">
          <div class="col-md-6 form-group">
            <label for="">Parent Menu</label>
            <select name="parent_menu" id="" class="form-control">
              <option value="">-- Select Menu --</option>
              <% menus.forEach(menu => { %> <% if(menu.id == subMenu.menu_id) {
              %>
              <option selected value="<%= menu.id %>"><%= menu.name %></option>
              <% } else { %>
              <option value="<%= menu.id %>"><%= menu.name %></option>
              <% } %> <% }) %>
            </select>
          </div>
          <div class="col-md-6 form-group">
            <label for="username">Name</label>
            <input
              type="text"
              name="name"
              id="name"
              class="form-control"
              placeholder="Name"
              required
              value="<%= subMenu.name ? subMenu.name : '' %>"
            />
          </div>
          <div class="col-md-6 form-group">
            <label for="description">Description</label>
            <input
              type="text"
              name="description"
              id="description"
              class="form-control"
              placeholder="Description"
              value="<%= subMenu.description ? subMenu.description : '' %>"
            />
          </div>
          <div class="col-md-6 form-group">
            <label for="email">Url</label>
            <input
              type="text"
              name="url"
              id="url"
              class="form-control"
              placeholder="Url"
              required
              value="<%= subMenu.url ? subMenu.url : '' %>"
            />
          </div>
        </div>
        <a href="/backoffice/submenus" class="btn btn-secondary btn-sm rounded"
          >Back</a
        >
        <button type="submit" class="btn btn-primary btn-sm rounded">
          <%= buttonText %>
        </button>
      </form>
    </div>
  </div>
</div>
<%- include('../includes/end.ejs') %>
