<%- include('../includes/head.ejs') %> <%- include('../includes/navigation.ejs')
%>
<div class="container-fluid">
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary"><%= formTitle %></h6>
    </div>
    <div class="card-body">
      <% action = ''; %> <% if(menu.id) { %> <% action =
      `/backoffice/updatesubmenus/${menuIdEncrypted}` %> <% } else { %> <%
      action = '/backoffice/submenus'%> <% } %>
      <form action="<%= action %>" method="POST" enctype="multipart/form-data">
        <input type="hidden" name="id" />
        <div class="row">
          <div class="col-md-6 form-group">
            <label for="">Parent Menu</label>
            <select name="" id="" class="form-control">
              <option value="">-- Select Menu --</option>
              <% menus.forEach(menu => { %>
              <option value=""><%= menu.name %></option>
              <% }) %>
            </select>
          </div>
          <div class="col-md-6 form-group">
            <label for="username">Name</label>
            <input
              type="text"
              name="name"
              id="name"
              class="form-control"
              placeholder="Name"
              required
            />
          </div>
          <div class="col-md-6 form-group">
            <label for="password">Description</label>
            <input
              type="text"
              name="description"
              id="description"
              class="form-control"
              placeholder="Description"
            />
          </div>
          <div class="col-md-6 form-group">
            <label for="email">Icon</label>
            <input
              type="text"
              name="icon"
              id="icon"
              class="form-control"
              placeholder="Icon"
              required
            />
          </div>
        </div>
        <a href="/backoffice/menus" class="btn btn-secondary btn-sm rounded"
          >Back</a
        >
        <button type="submit" class="btn btn-primary btn-sm rounded">
          <%= buttonText %>
        </button>
      </form>
    </div>
  </div>
</div>
<%- include('../includes/end.ejs') %>
